@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;

  --primary: #059669;
  --primary-hover: #047857;

  --surface: #ffffff;
  --surface-text: #1e293b;

  --border: #334155;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-surface: var(--surface);
  --color-surface-text: var(--surface-text);

  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}